# app
/config/app.php
/tmp/*
/logs/*
/config/app_local.php
/config/bootstrap.local.php
/vendor/*
/config/.env

# Dependency directories
/node_modules
/bower_components
coverage-js/

# IDEs and editors
/.idea
pmip
.project
.classpath
*.launch
.settings/

#System Files
.DS_Store
Thumbs.db
ehthumbs.db
.directory

# Tool specific files #
#######################
.phpunit.cache
tests.sqlite
test-results.xml
coverage.xml
tmp/coverage/
server.log
*.sqlite
.phpunit.result.cache
.github
.codacy
.githooks
phpstan
resources
.vscode
.prettierignore
.prettierrc
security-report.json
test-results.xml


# Public image storage
/webroot/img/storage/

# Local helper scripts
/bin/fix-permissions.sh

# Local reference: 3rd party  files
external

