parameters:
    level: 3
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - config/bootstrap.php
        - phpstan/phpstan.stub.php
    paths:
        - src/
    ignoreErrors:
        # Allow CakePHP magic properties
        - '#Access to an undefined property.*::\$Authentication#'
        - '#Access to an undefined property.*::\$Users#'
        # Allow using named-argument 'contain' with Table::get() (removed if not needed)
