parameters:
    level: 3
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - config/bootstrap.php
    paths:
        - src/
    ignoreErrors:
        # Allow CakePHP magic properties
        - '#Access to an undefined property.*::\$Authentication#'
        - '#Access to an undefined property.*::\$Users#'
